# Dependencias
node_modules/

# Entornos
.env
.env.local

# Builds
dist/
build/

# Subidas locales
uploads/
public/uploads/

# Base de datos local
pgdata/
*.db

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
